.title
{
    text-align: center;
}
.search-bar
{
    margin-top: 40px;
    margin-left: 350px;
}
.flex-search
{
    display: flex;
    flex-direction: row;
}

.flex-body-main
{
    display: flex;

}

.grilled-cheese
{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: fit-content;
    height: fit-content;
}
.main-body
{
    font-size: 2rem;
    margin-top: 50px;
    border: 25px solid;
    border-color: aquamarine;
    background-color: aqua;
}
.picture-box
{
    border: 25px solid black;
}
.text-box
{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}
.footer
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}